body {
  margin: 0;
  font-family: -'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: italic;
  background-color: "red";
}

code {
  font-family: 'Montserrat', sans-serif,
    monospace;
}
